body {
  background-color: gray;
}

header {
  display: flex;
  justify-content: center;
  color: white;
  font-style: italic;
  font-size: 1.2rem;
}

.body {
  display: grid;
  justify-content: center;
}

.highlighted {
  background-color: green !important;
}

.chessboardContainer {
  width: 75vw;
  height: 75vh;
  display: grid;
  border: 0.8vw solid floralwhite;
}

.chessboardContainer * {
  height: 5vw;
  width: 5vw;
}

.chessboard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.light {
  background-color: white;
}

.dark {
  background-color: black;
}

.cell {
  height: 100%;
  width: 100%;
}

span {
  background-color: green !important;
  color: white;
  margin-left: 2px;
}
